@model DOAN_CHuyenNGanh.Models.HomeRoomTeacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Giáo viên chủ nhiệm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.name_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.name_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.name_Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.name_Teacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Trở về trang trước", "Index")
</p>
