@model IEnumerable<DOAN_CHuyenNGanh.Models.HomeRoomTeacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giáo viên chủ nhiệm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên lớp
        </th>
        <th>
           Tên giáo viên
        </th>
        <th>
            Năm học
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Class.name_Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.name_Teacher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year.Name)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.Class.Id,year=item.Year.Id,teacher=item.Teacher.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.Class.Id, year = item.Year.Id, teacher = item.Teacher.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Class.Id, year = item.Year.Id, teacher = item.Teacher.Id })
        </td>
    </tr>
}

</table>
