<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/tooltip.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>


</head>
<body>
    <nav style="background:orange" class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("HCM-EDU", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Liên hệ</a>
                </li>
   
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>



    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("HCM-EDU", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <nav class="navbar-primary">
        <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"><</span></a>
        <ul class="navbar-primary-menu">
            <li>
                <a href="#"><span class="nav-label">Dashboard</span></a>
                <a href="#"><span class="nav-label">Profile</span></a>
                <a href="#"><span class="nav-label">Settings</span></a>
                <a href="#"><span class="nav-label">Notification</span></a>
                <a href="#"><span class="nav-label">Monitor</span></a>
            </li>
        </ul>
    </nav>
    <div class="container body-content">

        @RenderBody()
        @*<hr />*@
        @*<footer>


            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $('.btn-expand-collapse').click(function (e) {
            $('.navbar-primary').toggleClass('collapsed');
        });
    });
</script>
