<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/tooltip.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/moment.js"></script>
    <script src="~/Content/js/HighCharts.js"></script>
    <link type="text/css" href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.dataTables.min.js" charset="utf8" type="text/javascript"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>
<body>
    <nav style="background:orange" class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("HCM-EDU", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Liên hệ</a>
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid">
        <div class="navbar-primary ">

            <ul class="navbar-primary-menu">
                <li>
                    <a href="#" class="show-action-menu-6" id="title-roll"><img width="40" height="40" src="~/Content/Image/admin.png" /><span class="nav-label">Ban giám hiệu</span></a>
                    <ul id="action-menu-hide" class="action-menu-6">
                        <li><a id="test" href="/Subjects/Index"><span class="nav-label">Quản lý môn học</span></a> </li>
                        <li><a id="test" href="/Semesters/Index"><span class="nav-label">Quản lý học kỳ</span></a> </li>
                        <li><a id="test" href="/Years/Index"><span class="nav-label">Quản lý năm học</span></a> </li>
                        <li><a id="test" href="/Classes/Index"><span class="nav-label">Quản lý lớp học</span></a> </li>
                    </ul>
                    <a href="#" id="title-roll" class="show-action-menu-2"><img width="40" height="40" src="~/Content/Image/teacher.png" /><span class="nav-label">Quản lí thông tin giáo viên</span></a>
                    <ul id="action-menu-hide" class="action-menu-2">
                        <li><a id="test" href="/ManageTeacher/Index"><span class="nav-label">Thông tin</span></a> </li>
                        <li><a id="test" href="/ManageTeacher/Schedule"><span class="nav-label">Lịch giảng dạy </span></a> </li>
                        <li><a id="test" href="/HomeRoomTeachers/Index"><span class="nav-label"> Chủ Nhiệm</span></a> </li>
                    </ul>
                    <a href="#" id="title-roll" class="show-action-menu-1"><img width="40" height="40" src="~/Content/Image/student.png" /><span class="nav-label">Quản lí học sinh</span></a>
                    <ul id="action-menu-hide" class="action-menu-1">
                        <li><a id="test" href="/ManageStudent/Index"><span class="nav-label">Thông tin </span></a> </li>
                        <li><a id="test" href="/ManageStudent/ClassStudent"><span class="nav-label">Lớp</span></a> </li>
                        <li><a id="test" href="#"><span class="nav-label">Thời khóa biểu</span></a> </li>
                        <li><a id="test" href="/ClassList/MarkControl"><span class="nav-label">Điểm số</span></a> </li>
                        <li><a id="test" href="#"><span class="nav-label"> Hạnh kiểm</span></a> </li>
                    </ul>
                    <a href="#" id="title-roll" class="show-action-menu-3"><img width="40" height="40" src="~/Content/Image/parent.png" /><span class="nav-label">Quản lí thông tin phụ huynh</span></a>
                    <ul id="action-menu-hide" class="action-menu-3">
                        <li><a id="test" href="#"><span class="nav-label">Gửi thông tin</span></a> </li>
                        <li><a id="test" href="#"><span class="nav-label">Liên lạc góp ý </span></a> </li>
                    </ul>
                    <a href="#" id="title-roll" class="show-action-menu-4"><img width="40" height="40" src="~/Content/Image/account.png" /><span class="nav-label">Quản lí thông tin tài khoản</span></a>
                    <ul id="action-menu-hide" class="action-menu-4">
                        <li><a id="test" href="/UsersAdmin/Index"><span class="nav-label">Thông tin</span></a> </li>
                        <li><a id="test" href="/RolesAdmin/Index"><span class="nav-label">Thông tin quyền</span></a> </li>
                        <li><a id="test" href="/RoleAction/Index"><span class="nav-label">Cấp quyền sử dụng</span></a> </li>
                    </ul>
                    <a href="#" id="title-roll" class="show-action-menu-5"><img width="40" height="40" src="~/Content/Image/info_3-512.png" /><span class="nav-label">Quản lí thông tin chung</span></a>
                    <ul id="action-menu-hide" class="action-menu-5">
                        <li><a id="test" href="#"><span class="nav-label">Học phí</span></a> </li>
                        <li><a id="test" href="#"><span class="nav-label">Thông báo</span></a> </li>
                    </ul>
                    <a href="#" id="title-roll" class="show-action-menu"><img width="40" height="40" src="~/Content/Image/setting-icon.png" /><span class="nav-label">Cài đặt chung</span></a>

                    <ul id="action-menu-hide" class="action-menu">
                        <li><a id="test" href="/Posts/Index"><span class="nav-label">Quản lý bài đăng</span></a> </li>
                        <li><a id="test" href="/Categories/Index"><span class="nav-label">Loại Bài Đăng</span></a> </li>
                    </ul>
                </li>

            </ul>
            <a class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"><</span></a>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
             attribution=setup_tool
             page_id="1617664511695699"
             theme_color="#0084ff"
             logged_in_greeting="Chào bạn! Bạn có phản hồi xin để lại ở dưới nhé!"
             logged_out_greeting="Chào bạn! Bạn có phản hồi xin để lại ở dưới nhé!">
        </div>
        @*<hr />*@
        @*<footer>


        </footer>*@
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        hidden();
        $('.btn-expand-collapse').click(function (e) {
            $('.navbar-primary').toggleClass('collapsed');
        });
        $('#set-action-roll').click(function (e) {           
           
            $('.action-roll-menu').is(':visible') ? $('.action-roll-menu').hide(200) : $('.action-roll-menu').show(200);

        }); 
        $('.show-action-menu').click(function (e) {
            hidden();
            $('.action-menu').is(':visible') ? $('.action-menu').hide(200) : $('.action-menu').show(200);
        });
        $('.show-action-menu-1').click(function (e) {
            hidden();
            $('.action-menu-1').is(':visible') ? $('.action-menu-1').hide(200) : $('.action-menu-1').show(200);
        });
        $('.show-action-menu-2').click(function (e) {
            hidden();
            $('.action-menu-2').is(':visible') ? $('.action-menu-2').hide(200) : $('.action-menu-2').show(200);
        });
        $('.show-action-menu-3').click(function (e) {
            hidden();
            $('.action-menu-3').is(':visible') ? $('.action-menu-3').hide(200) : $('.action-menu-3').show(200);
        });
        $('.show-action-menu-4').click(function (e) {
            hidden();
            $('.action-menu-4').is(':visible') ? $('.action-menu-4').hide(200) : $('.action-menu-4').show(200);
        });
        $('.show-action-menu-5').click(function (e) {
            hidden();
            $('.action-menu-5').is(':visible') ? $('.action-menu-5').hide(200) : $('.action-menu-5').show(200);
        });
        $('.show-action-menu-6').click(function (e) {
            hidden();
            $('.action-menu-6').is(':visible') ? $('.action-menu-6').hide(200) : $('.action-menu-6').show(200);
        });
    });
    function hidden() {
        $('.action-menu-5').hide(200);
        $('.action-menu-4').hide(200);
        $('.action-menu-3').hide(200);
        $('.action-menu-2').hide(200)
        $('.action-menu-1').hide(200);

        $('.action-menu-6').hide(200);
        $('.action-menu').hide(200);
    }
    function getAction() {
        //$.get("/RoleAction/GetActionRole", function (data) {
        //    console.log(data);

        //});
        $.ajax({
            url: '/RoleAction/GetActionRole',
            type: "GET",
            success: function (result) {
                if (result == "")
                {
                    $('.navbar-primary').css('display', 'none');
                }
                else {
                    var data = JSON.parse(result);
                    for (let i = 0; i < data.length; i++) {
                        setLayoutAction(data[i].Action);
                    }
                }
               
            },
            error: function () {
                alert();
            },
        });
    }
    function setLayoutAction(element) {
        console.log(element);
        var html = '<li><a id="test" href= "' + element.Url + '"><span class="nav-label">' + element.Name + '</span></a>';
        $('.action-menu').append(html);
    }
</script>
