<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/tooltip.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>


</head>
<body>
    <nav style="background:orange" class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("HCM-EDU", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Liên hệ</a>
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="wrapper" >
        <div class="navbar-primary ">

            <ul class="navbar-primary-menu">
                <li>
                    <a href="#" id="title-roll"><img width="40" height="40" src="~/Content/Image/admin.png" /><span class="nav-label">Ban giám hiệu</span></a>
                    <ul class="action-menu"></ul>
                </li>

            </ul>
            <a class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"><</span></a> 
        </div>
            <div class="container body-content">
                @RenderBody()
            </div>
           
            @*<hr />*@
            @*<footer>


            </footer>*@
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        getAction();
        $('.btn-expand-collapse').click(function (e) {
            $('.navbar-primary').toggleClass('collapsed');
        });
        $('#set-action-roll').click(function (e) {
            $('.action-roll-menu').is(':visible') ? $('.action-roll-menu').hide(200) : $('.action-roll-menu').show(200);

        });

    });
    function getAction() {
        //$.get("/RoleAction/GetActionRole", function (data) {
        //    console.log(data);

        //});
        $.ajax({
            url: '/RoleAction/GetActionRole',
            type: "GET",
            success: function (result) {
                console.log(result);
                var data =JSON.parse(result);
                for (let i = 0; i < data.length; i++) {
                    setLayoutAction(data[i].Action);
                }
            }
        });
    }
    function setLayoutAction(element) {
        console.log(element);
        var html = '<li><a id="test" href= "' + element.Url + '"><span class="nav-label">' + element.Name + '</span></a> <div id="setting-menu"><button class="btn-setting-action"><img width="20" height="20" src="/Content/Image/icon-up.png" /></button><button class="btn-setting-action"><img width="20" height="20" src="/Content/Image/icon-down.png" />';
        $('.action-menu').append(html);
    }
</script>
